[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
packaging = "*"
requests = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
responses = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
